.person {
	height: 15vh;
	width: 75vw;
	margin: 5% auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.imageAbout {
	background-color: red;
	height: 100%;
	width: 85%;
	justify-self: center;
}

.descriptionAbout {
	justify-self: center;
	margin: 3vh 5vh;
	font-size: 2vw;
}




