
.descriptionBox {
    background-image: radial-gradient(black, rgba(0, 0, 0, 0.5));
    width: 87.5%;
    margin: 0 6.25%;
}

.description {
    text-align: center;
    font-size: 2.5vw;
    margin: 0 30%;
    color: white;
    padding: 0.5em 0;
}

.homeContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4vh;
    margin-bottom: 10vh;
}

.homeImage {
    width: 75%;
    justify-self: center;
}

.homeTextBox {
    display: flex;
    margin: 0 12.5%;
    align-items: center;
}

.homeText {
    font-size: 3vw;
}